a {
    font-size: 10px;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 42px;
}

h3 { 
    font-size: 30px;
}

p {
    font-size: 20px;
}

.game {
    display: flex;
}

.grid {
    margin: auto;
    padding: 50px;
    width: fit-content;
}

.bio {
    width: fit-content;
    color: black;
    margin: auto;
}

.title {
    font-family: 'Architects Daughter', cursive;
}

.center {
    margin: auto;
    width: auto;
    padding: 50px;
}

.controls {
    background-color: darkgrey;
    padding: 1%
}

.controls p {
    font-family: 'Architects Daughter', cursive;
}

.controls span {
    color: lightblue;
}

@media screen and (max-width: 768px) {
    .game {
        display: block;
    }

    .grid {
        padding: 20px;
    }

    .bio {
        width: 80%;
    }

    h1 {
        font-size: 30px;
    }
    
    h3 { 
        font-size: 21px;
    }
    
    p {
        font-size: 16px;
    }
}