body {
    background-image: url('787.jpg');
    background-repeat: repeat;
    background-size: 100%;
}

a {
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.game {
    display: flex;
}

.grid {
    border: 4px solid lightblue;
    border-radius: 25px;
    padding: 10px;
    height: 50%;
    margin: 7.5%;
    width: fit-content;
}

.bio {
    width: 30%;
    color: black;
    padding: 5% 10%;
}

.title {
    font-family: 'Architects Daughter', cursive;
}

.controls {
    background-color: darkgrey;
    padding: 1%
}

.controls p {
    font-family: 'Architects Daughter', cursive;
}

.controls span {
    color: lightblue;
}

@media screen and (max-width: 768px) {
    .game {
        display: block;
    }

    .grid {
        margin-left: 100px;
    }

    .bio {
        width: 80%;
    }
}